# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
foo
iote
examples/examples
examples/heater/heater
examples/mock/mock
otto/otto
mock/mock
gpio/gpio
station/station
otto.log
debug*
